<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.mj.jy.namecard.model.vo.Namecard" alias="Namecard"/>
 feature/hajin
		<typeAlias type="com.mj.jy.businessRoom.model.vo.BusinessRoom" alias="BusinessRoom"/>

		<typeAlias type="com.mj.jy.schedule.model.vo.ScheduleDto" alias="ScheduleDto"/>
 develop
	</typeAliases> 
	
	<!-- 
	<mappers>
		<mapper resource="/mappers/namecard-mapper.xml"/>
	</mappers>
	 -->
	 
</configuration>
