<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mj.jy.appBox.model.dao.AppBoxDao">

	<select id="getSentAppBox" parameterType="_int" resultType="SentAppBoxDto">
		SELECT U.NO, U.CATEGORY_NO, U.APPROVAL_NO, U.TITLE, U.CREATE_DATE, U.NAME, A.TYPE, C.CATEGORY
		FROM (
			SELECT D.DISBURSEMENT_NO NO, D.CATEGORY_NO, D.APPROVAL_NO, D.TITLE, D.CREATE_DATE, M.NAME
			FROM DISBURSEMENT D
			JOIN MEMBER M ON M.MEMBER_NO = D.CREATE_BY
			WHERE D.CREATE_BY= #{memberNo}
			AND D.APPROVAL_NO != 2 AND D.APPROVAL_NO !=4
		
		UNION
		
			SELECT R.REPORT_NO NO, R.CATEGORY_NO, R.APPROVAL_NO, R.TITLE, R.CREATE_DATE, M.NAME
			FROM REPORT R
			JOIN MEMBER M ON M.MEMBER_NO = R.CREATE_BY
			WHERE R.CREATE_BY= #{memberNo}
			AND R.APPROVAL_NO != 2 AND R.APPROVAL_NO !=4
		) U
		JOIN APPROVAL A ON U.APPROVAL_NO = A.APPROVAL_NO
		JOIN CATEGORY C ON U.CATEGORY_NO = C.CATEGORY_NO
		ORDER BY CREATE_DATE
	</select>
	
	<select id="getEndSentAppBox" parameterType="_int" resultType="SentAppBoxDto">
		SELECT U.NO, U.CATEGORY_NO, U.APPROVAL_NO, U.TITLE, U.CREATE_DATE, U.NAME, A.TYPE, C.CATEGORY
		FROM (
			SELECT D.DISBURSEMENT_NO NO, D.CATEGORY_NO, D.APPROVAL_NO, D.TITLE, D.CREATE_DATE, M.NAME
			FROM DISBURSEMENT D
			JOIN MEMBER M ON M.MEMBER_NO = D.CREATE_BY
			WHERE D.CREATE_BY= #{memberNo}
			AND D.APPROVAL_NO = 2
		
		UNION
		
			SELECT R.REPORT_NO NO, R.CATEGORY_NO, R.APPROVAL_NO, R.TITLE, R.CREATE_DATE, M.NAME
			FROM REPORT R
			JOIN MEMBER M ON M.MEMBER_NO = R.CREATE_BY
			WHERE R.CREATE_BY= #{memberNo}
			AND R.APPROVAL_NO = 2
		) U
		JOIN APPROVAL A ON U.APPROVAL_NO = A.APPROVAL_NO
		JOIN CATEGORY C ON U.CATEGORY_NO = C.CATEGORY_NO
		ORDER BY CREATE_DATE DESC
	</select>
	
	<select id="getOneReport" parameterType="_int" resultType="ReportDto">
		SELECT R.*, A.UPDATE_NAME, M.NAME
		FROM REPORT R
		JOIN MEMBER M ON M.MEMBER_NO=R.CREATE_BY
		LEFT JOIN ATTACHMENT A ON R.ATTACHMENT_NO=A.ATTACHMENT_NO
		WHERE R.REPORT_NO=#{reportNo}
	</select>
	
	<select id="getSupervisers" parameterType="_int" resultType="AllMemberDto">
		SELECT M.MEMBER_NO, M.NAME, D.NAME DE_NAME, P.NAME PO_NAME, A.TYPE
		FROM REPORT_APP RA
		JOIN MEMBER M ON RA.MEMBER_NO=M.MEMBER_NO
		JOIN POSITION P ON M.POSITION_NO = P.POSITION_NO
		JOIN DEPARTMENT D ON M.DEPARTMENT_NO = D.DEPARTMENT_NO
		JOIN APPROVAL A ON A.APPROVAL_NO = RA.APPROVAL_NO
		WHERE REPORT_NO=#{reportNo}
		ORDER BY M.POSITION_NO DESC
	</select>
	
	<select id="getApprovalTypes" resultType="ApprovalDto">
		SELECT APPROVAL_NO, TYPE
		FROM APPROVAL
		WHERE TYPE != '삭제'
	</select>
	
	<select id="getReceiveAppBox" parameterType="_int" resultType="SentAppBoxDto">
		SELECT U.NO, U.CATEGORY_NO, U.APPROVAL_NO, U.TITLE, U.CREATE_DATE, U.NAME, A.TYPE, C.CATEGORY
		FROM (
				SELECT R.REPORT_NO NO, R.CATEGORY_NO, RA.APPROVAL_NO, R.TITLE, R.CREATE_DATE, M.NAME
				FROM REPORT R
				JOIN REPORT_APP RA ON R.REPORT_NO = RA.REPORT_NO
				JOIN MEMBER M ON M.MEMBER_NO = R.CREATE_BY
				WHERE RA.MEMBER_NO = #{memberNO} AND RA.STATUS=1
				    AND R.APPROVAL_NO != 2 AND R.APPROVAL_NO !=4
				    AND RA.APPROVAL_NO != 2
		
		UNION
		
				SELECT D.DISBURSEMENT_NO NO, D.CATEGORY_NO, DA.APPROVAL_NO, D.TITLE, D.CREATE_DATE, M.NAME
				FROM DISBURSEMENT D
				JOIN DIS_APP DA ON D.DISBURSEMENT_NO = DA.DISBURSEMENT_NO
				JOIN MEMBER M ON M.MEMBER_NO = D.CREATE_BY
				WHERE DA.MEMBER_NO = #{memberNo} AND DA.STATUS=1
				    AND D.APPROVAL_NO != 2 AND D.APPROVAL_NO !=4
				    AND DA.APPROVAL_NO !=2
		) U
		JOIN APPROVAL A ON U.APPROVAL_NO = A.APPROVAL_NO
		JOIN CATEGORY C ON U.CATEGORY_NO = C.CATEGORY_NO
		ORDER BY CREATE_DATE
	</select>
	
	<select id="getEndReceiveAppBox" parameterType="_int" resultType="SentAppBoxDto">
		SELECT U.NO, U.CATEGORY_NO, U.APPROVAL_NO, U.TITLE, U.CREATE_DATE, U.NAME, A.TYPE, C.CATEGORY
		FROM (
			SELECT R.REPORT_NO NO, R.CATEGORY_NO, RA.APPROVAL_NO, R.TITLE, R.CREATE_DATE, M.NAME
			FROM REPORT R
			JOIN REPORT_APP RA ON R.REPORT_NO = RA.REPORT_NO
			JOIN MEMBER M ON M.MEMBER_NO = R.CREATE_BY
			WHERE RA.MEMBER_NO = #{memberNo} AND RA.STATUS &lt; 1
			    AND R.APPROVAL_NO !=4
			    AND RA.APPROVAL_NO = 2
		
		UNION
		
			SELECT D.DISBURSEMENT_NO NO, D.CATEGORY_NO, DA.APPROVAL_NO, D.TITLE, D.CREATE_DATE, M.NAME
			FROM DISBURSEMENT D
			JOIN DIS_APP DA ON D.DISBURSEMENT_NO = DA.DISBURSEMENT_NO
			JOIN MEMBER M ON M.MEMBER_NO = D.CREATE_BY
			WHERE DA.MEMBER_NO = #{memberNo} AND DA.STATUS &lt; 1
			    AND D.APPROVAL_NO !=4
			    AND DA.APPROVAL_NO = 2
		) U
		JOIN APPROVAL A ON U.APPROVAL_NO = A.APPROVAL_NO
		JOIN CATEGORY C ON U.CATEGORY_NO = C.CATEGORY_NO
		ORDER BY CREATE_DATE DESC
	</select>
	
	<select id="getOneDis" parameterType="_int" resultType="DisbursementDto">
		SELECT D.*, A.UPDATE_NAME, M.NAME
		FROM DISBURSEMENT D
		JOIN MEMBER M ON M.MEMBER_NO=D.CREATE_BY
		LEFT JOIN ATTACHMENT A ON D.ATTACHMENT_NO=A.ATTACHMENT_NO
		WHERE D.DISBURSEMENT_NO=#{disbursementNo}
	</select>
	
	<select id="getDisSupervisers" parameterType="_int" resultType="AllMemberDto">
		SELECT M.MEMBER_NO, M.NAME, D.NAME DE_NAME, P.NAME PO_NAME, A.TYPE
		FROM DIS_APP DA
		JOIN MEMBER M ON DA.MEMBER_NO=M.MEMBER_NO
		JOIN POSITION P ON M.POSITION_NO = P.POSITION_NO
		JOIN DEPARTMENT D ON M.DEPARTMENT_NO = D.DEPARTMENT_NO
		JOIN APPROVAL A ON A.APPROVAL_NO = DA.APPROVAL_NO
		WHERE DISBURSEMENT_NO = #{disbursementNo}
		ORDER BY M.POSITION_NO DESC
	</select>
	
	<select id="getDisContents" parameterType="_int" resultType="DisContentDto">
		SELECT CONTENT_NO, DISBURSEMENT_NO, PAYDATE, CONTENT, CLIENT, PRICE, SUBJECT_NO, METHOD_NO
		FROM DIS_CONTENT
		WHERE DISBURSEMENT_NO = #{disbursementNo}
	</select>
	
</mapper>