<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="biMapper">
	<resultMap id="biResultSet" type="BusinessInfo">
	<id property="roomNo" column="room_no"/>
	<result property="roomName" column="room_name"/>
	<result property="roomCount" column="room_count"/>
	<result property="position" column="position"/>
	</resultMap>
	
	<select id="selectbDetailList" resultMap="biResultSet">
		SELECT *
		FROM BUSINESS_INFO 
		WHERE ROOM_NO = #{roomNo}
	</select>

</mapper>