<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mj.jy.businessRoom.model.dao.BusinessRoomDao">
	
	<select id="selectBlist" resultType="BusinessDTO">
		SELECT *
		FROM BUSINESS_ROOM
		JOIN BUSINESS_INFO USING(ROOM_NO)
		JOIN TIME USING(TIME)
		WHERE ROOM_NO = #{roomNo} AND HOPE_DATE = #{hopeDate}
	</select>
	
	<select id="selectbRoomList" resultType="BusinessDTO">
		SELECT *
		FROM BUSINESS_ROOM
		JOIN BUSINESS_INFO USING(ROOM_NO)
		WHERE ROOM_NO = #{roomNo}
	</select>
	
	<insert id="insertBroom" parameterType="BusinessDTO">
		<selectKey keyProperty="meetingNo" resultType="_int" order="BEFORE">
			select SEQ_MET.nextval From dual
		</selectKey> 
		INSERT INTO BUSINESS_ROOM
		VALUES(#{meetingNo}, #{memberNo}, #{roomNo}, #{time}, sysdate, #{hopeDate}, null, #{count}, default)
	</insert>
	
	<select id="selectBroomList" resultType="BusinessDTO">
		SELECT *
		FROM BUSINESS_ROOM
		JOIN BUSINESS_INFO USING(ROOM_NO)
		JOIN TIME USING(TIME)
	</select>
	
	<update id="broomUpdate" parameterType="BusinessDTO">
		UPDATE BUSINESS_ROOM
		SET STATUS_DATE=SYSDATE,
			STATUS='Y'
		WHERE MEETING_NO=#{meetingNo}	
	</update>
	
	<update id="updateBroomAlarm" parameterType="_int">
	 UPDATE Alarm
	 SET STATUS='N'
	 WHERE SENDER_NO=#{meetindNo}
	</update>
	

</mapper>