<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mj.jy.chatter.model.dao.ChatterDao">

	<select id="roomList" resultType="ChatterDto">
		SELECT *
		FROM (
			SELECT C.*, S.NAME "SENDER_NAME", R.NAME "RECEIVER_NAME"
			FROM CHATTER C
			JOIN MEMBER S ON C.SENDER_NO = S.EMP_NO
			JOIN MEMBER R ON C.RECEIVER_NO = R.EMP_NO
			WHERE SENDER_NO=#{empNO} OR RECEIVER_NO=#{empNo}
			ORDER BY CREATE_DATE DESC
			)
		WHERE STATUS='Y'
	</select>
	
	<select id="getLoginedUser" resultType="MemberDto">
		SELECT MEMBER_NO, DEPARTMENT_NO, POSITION_NO, D.NAME AS DEPARTMENT_NAME, P.NAME AS POSITION_NAME, 
			   PWD, JOIN_DATE, RESIGN_DATE, PROMOTION_DATE, M.NAME AS MEMBER_NAME, RRN, ADDRESS,
			   PHONE, EMAIL, STATUS, EMP_NO, EXTENSION
  		  FROM MEMBER M
  		  JOIN DEPARTMENT D USING(DEPARTMENT_NO)
  		  JOIN POSITION P USING(POSITION_NO)
 		 WHERE EMP_NO=#{empNo}
	</select>
	
	<select id="checkRoom" resultType="_int">
		SELECT COUNT(*)
		FROM (select *
			from chatter
			where (sender_no=#{senderNo} and receiver_no=#{receiverNo}) or (sender_no=#{receiverNo} and receiver_no=#{senderNo}))
		WHERE status = 'Y'
	</select>
	
	<insert id="createChatroom">
		INSERT INTO CHATTER
		VALUES (SEQ_CHATTER.nextval, #{senderNo}, #{receiverNo}, SYSDATE, NULL, DEFAULT)
	</insert>
	
	<select id="findReceiverNo" resultType="ChatterDto">
		SELECT C.*, S.NAME "SENDER_NAME", R.NAME "RECEIVER_NAME"
		FROM CHATTER C
		JOIN MEMBER S ON C.SENDER_NO = S.EMP_NO
		JOIN MEMBER R ON C.RECEIVER_NO = R.EMP_NO
		WHERE CHATTER_NO =#{chatterNo}
	</select>
	
</mapper>