<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mj.jy.commute.model.dao.CommuteDao">

	<!-- 
	<resultMap type="CommuteDTO" id="commuteDtoResultSet">
		<result property="commuteNo" column="commute_no"/>
		<result property="memberNo" column="member_no"/>
		<result property="commuteDate" column="commute_date"/>
		<result property="attendTime" column="attend_time"/>
		<result property="quittingTime" column="quitting_time"/>
		<result property="tardy" column="tardy"/>
		<result property="empNo" column="emp_no"/>
		<result property="memberName" column="member_name"/>
	</resultMap>
	 -->
	 
	<select id="selectCommuteList" resultType="CommuteDto">
		SELECT M.EMP_NO AS EMP_NO, M.NAME AS MEMBER_NAME, COMMUTE_DATE, ATTEND_TIME, QUITTING_TIME, TARDY, D.NAME AS DEPARTMENT_NAME
		  FROM MEMBER M
		  JOIN DEPARTMENT D ON (M.DEPARTMENT_NO=D.DEPARTMENT_NO)
		  JOIN COMMUTE_TIME C ON(M.MEMBER_NO=C.MEMBER_NO)
	</select>
	<insert id="insertCommute" parameterType="CommuteDto">
		INSERT INTO "FINALPROJECT"."COMMUTE_TIME" (COMMUTE_NO, MEMBER_NO, COMMUTE_DATE, ATTEND_TIME, TARDY) 
		  VALUES (SEQ_COM.NEXTVAL, #{memberNo}, to_date(#{day}, 'MM-DD-YYYY'),to_date(#{today}, 'MM-DD-YYYY HH24:MI:SS'),( CASE WHEN TO_CHAR(SYSDATE, 'HH') > '09' THEN 'Y'
                       ELSE'N'    
                            END))
	</insert>	
	<select id="selectClock" parameterType="string" resultType="CommuteViewDto">
		SELECT  DISTINCT M.NAME AS NAME, D.NAME AS DEPARTMENT,TARDY,(SELECT COUNT(*) FROM COMMUTE_TIME WHERE  TARDY='Y' GROUP BY TARDY) TARDYCOUNT,(SELECT COUNT(*) FROM ABSENCE GROUP BY MEMBER_NO) ABSENCE,ATTEND_TIME,QUITTING_TIME
				FROM COMMUTE_TIME C
				JOIN MEMBER M ON(M.MEMBER_NO = C.MEMBER_NO)
				JOIN DEPARTMENT D ON(M.DEPARTMENT_NO = D.DEPARTMENT_NO)
				JOIN ABSENCE A ON(C.MEMBER_NO = A.MEMBER_NO)
				WHERE M.EMP_NO = #{empNo} AND  COMMUTE_DATE = to_date(to_char(SYSDATE,'MM/DD/YYYY'),'MM/DD/YYYY')
				GROUP BY C.TARDY, A.ABSENCE_NO, M.NAME, D.NAME,A.ABSENCE_NO, ATTEND_TIME, QUITTING_TIME
	</select>
	<update id="insertquit" parameterType="CommuteDto">
		UPDATE COMMUTE_TIME
				SET QUITTING_TIME = to_date(#{today}, 'MM-DD-YYYY HH24:MI:SS')
				WHERE MEMBER_NO = #{memberNo} AND COMMUTE_DATE = to_date(to_char(SYSDATE,'MM/DD/YYYY'),'MM/DD/YYYY')
            
	</update>
</mapper>
