<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mj.jy.common.model.dao.MainDao">

	<select id="selectTodoList" resultType="TodoList">
		SELECT TODO_NO, TITLE, TODO_DATE, STATUS, MEMBER_NO
		  FROM TODOLIST
		 WHERE to_date(TODO_DATE, 'YY/MM/DD') = to_date(SYSDATE, 'YY/MM/DD')
	</select>
	
	<update id="updateTodo" parameterType="hashMap">
		UPDATE TODOLIST
		   SET STATUS=#{status}
		 WHERE TODO_NO=#{todoNo}
	</update>

</mapper>