<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mj.jy.common.model.dao.MainDao">

	<update id="updateTodo" parameterType="hashMap">
		UPDATE TODOLIST
		   SET STATUS=#{status}
		 WHERE TODO_NO=#{todoNo} AND MEMBER_NO=#{memberNo}
	</update>
	
	<insert id="insertTodo" parameterType="hashMap">
		INSERT INTO TODOLIST
		VALUES(SEQ_TODO.NEXTVAL, #{memberNo}, #{title}, #{todoDate}, 'Y')
	</insert>

	<select id="selectTodoList" parameterType="_int" resultType="TodoList">
		SELECT TODO_NO, TITLE, TODO_DATE, STATUS, MEMBER_NO
		  FROM TODOLIST
		 WHERE to_date(TODO_DATE, 'YY/MM/DD') = to_date(SYSDATE, 'YY/MM/DD')
		 		AND MEMBER_NO=#{memberNo}
	</select>
	
	<select id="getApprovalData" resultType="SentAppBoxDto">
		SELECT U.NO, U.CATEGORY_NO, U.APPROVAL_NO, U.TITLE, U.CREATE_DATE, U.NAME, A.TYPE, C.CATEGORY
			FROM (
				SELECT D.DISBURSEMENT_NO NO, D.CATEGORY_NO, D.APPROVAL_NO, D.TITLE, D.CREATE_DATE, M.NAME
				FROM DISBURSEMENT D
				JOIN MEMBER M ON M.MEMBER_NO = D.CREATE_BY
				WHERE D.CREATE_BY= #{memberNo}
				AND D.APPROVAL_NO !=4
			
			UNION
			
				SELECT R.REPORT_NO NO, R.CATEGORY_NO, R.APPROVAL_NO, R.TITLE, R.CREATE_DATE, M.NAME
				FROM REPORT R
				JOIN MEMBER M ON M.MEMBER_NO = R.CREATE_BY
				WHERE R.CREATE_BY= #{memberNo}
				AND R.APPROVAL_NO !=4
			) U
			JOIN APPROVAL A ON U.APPROVAL_NO = A.APPROVAL_NO
			JOIN CATEGORY C ON U.CATEGORY_NO = C.CATEGORY_NO
			ORDER BY CREATE_DATE
	</select>

</mapper>