<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mj.jy.common.model.dao.MainDao">

	<update id="updateTodo" parameterType="hashMap">
		UPDATE TODOLIST
		   SET STATUS=#{status}
		 WHERE TODO_NO=#{todoNo} AND MEMBER_NO=#{memberNo}
	</update>
	
	<insert id="insertTodo" parameterType="hashMap">
		INSERT INTO TODOLIST
		VALUES(SEQ_TODO.NEXTVAL, #{memberNo}, #{title}, #{todoDate}, 'Y')
	</insert>

	<select id="selectTodoList" parameterType="_int" resultType="TodoList">
		SELECT TODO_NO, TITLE, TODO_DATE, STATUS, MEMBER_NO
		  FROM TODOLIST
		 WHERE to_date(TODO_DATE, 'YY/MM/DD') = to_date(SYSDATE, 'YY/MM/DD')
		 		AND MEMBER_NO=#{memberNo}
	</select>

</mapper>