<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mj.jy.messenger.model.dao.MessengerDao">

	<insert id="insertAttachment" parameterType="Attachment">
	INSERT INTO ATTACHMENT VALUES(SEQ_ATT.NEXTVAL, SYSDATE, #{originName}, #{updateName}, #{folderNo})
	</insert>
	
	<insert id="insertMessage" parameterType="Messenger">
	INSERT INTO MESSENGER (MESSAGE_NO, ATTACHMENT_NO, SENDER_NO, RECEIVER_NO, TITLE, SEND_TIME, CONTENT, STATUS) 
		VALUES(SEQ_MES.NEXTVAL, SEQ_ATT.CURRVAL, #{senderNo}, #{receiverNo}, #{title}, SYSDATE, #{content}, 'Y')
	</insert>
	
</mapper>