<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="namecardMapper">

	<resultMap id="namecardResultSet" type="Namecard">
		<id property="namecardNo" column="NAMECARD_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="contentType" column="CONTENT_TYPE"/>
		<result property="reportingDate" column="REPORTING_DATE"/>
		<result property="processingDate" column="PROCESSING_DATE"/>
		<result property="status" column="STATUS"/>
	</resultMap>

	<insert id="insertNamecard" parameterType="Namecard">
		<selectKey keyProperty="namecardNo" resultType="_int" order="BEFORE">
			select seq_nac.nextval From dual
		</selectKey> 
		insert into namecard
		values(#{namecardNo}, #{memberNo}, #{contentType}, SYSDATE, default, default)
	</insert>

	<select id="getNameListCount" resultType="_int">
		select count(*)
		from namecard
	</select>
	
	<select id="getBroomListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BUSINESS_ROOM
	</select>
	
	<select id="selectNameList" resultMap="namecardResultSet">
		select *
		from namecard
		order by namecard_no desc
	</select>
	
	<update id="nameUpdate" parameterType="Namecard">
	 UPDATE NAMECARD
	 SET STATUS='Y',
	     PROCESSING_DATE=SYSDATE
	 WHERE NAMECARD_NO=#{namecardNo}
	</update>
	
	
	<select id="selectBroomList" resultType="BusinessDTO">
		SELECT *
		FROM BUSINESS_ROOM
		JOIN BUSINESS_INFO USING(ROOM_NO)
		JOIN TIME USING(TIME)
	</select>
	
	<update id="updateNameAlarm" parameterType="_int">
	 UPDATE Alarm
	 SET STATUS='N'
	 WHERE SENDER_NO=#{namecardNo}
	</update>
	
	<select id="selectNamecardListMem" resultType="_int">
		select count(*)
		from namecard
		where member_No=#{memberNo}
	</select>
	
	<select id="selectBusinessListMem" resultType="_int">
		SELECT COUNT(*)
		FROM BUSINESS_ROOM
		where member_No=#{memberNo}
	</select>
	
	<select id="selectNameListMem" resultMap="namecardResultSet">
		select *
		from namecard
        where member_no=#{memberNo}
		order by namecard_no desc
	</select>
	
	<select id="selectBroomListMem" resultType="BusinessDTO">
	 	select *
		from BUSINESS_ROOM
		JOIN BUSINESS_INFO USING(ROOM_NO)
        where member_no=#{memberNo}
		order by meeting_no desc
	</select>
</mapper>