<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mj.jy.salary.model.dao.SalaryDao">
	
	<!-- 
	<resultMap type="SalaryDTO" id="salaryDtoResultSet">
		<result property="empNo" column="emp_no"/>
		<result property="memberName" column="member_name"/>
		<result property="deptName" column="dept_name"/>
		<result property="positionName" column="position_name"/>
		<result property="promotionDate" column="promotion_date"/>
		<result property="stepSum" column="step_sum"/>
		<result property="positionSum" column="position_sum"/>
		<result property="grade" column="grade"/>
		<result property="sum" column="sum"/>
		<result property="payDate" column="pay_date"/>
		<result property="salaryNo" column="salary_no"/>
	</resultMap>
 	-->
 	
	<select id="selectSalaryList" resultType="SalaryDto">
		SELECT SALARY_NO, M.NAME AS MEMBER_NAME, D.NAME AS DEPARTMENT_NAME, P.NAME AS POSITION_NAME, M.EMP_NO AS EMP_NO, P.SUM+ST.SUM AS SUM, PAY_DATE
		  FROM SALARY SA
		  JOIN MEMBER M ON(M.MEMBER_NO=SA.MEMBER_NO)
		  JOIN POSITION P ON (M.POSITION_NO=P.POSITION_NO)
		  JOIN DEPARTMENT D ON (M.DEPARTMENT_NO=D.DEPARTMENT_NO)
		  JOIN SALARYVIEW SV ON (M.MEMBER_NO=SV.MEMBER_NO)
		  JOIN STEP ST ON (SV.GRADE=ST.GRADE AND SV.POSITION_NO=ST.POSITION_NO)
          ORDER BY PAY_DATE DESC
	</select>
	
	<select id="selectSalary" parameterType="_int" resultType="SalaryDto">
		SELECT SALARY_NO, M1.NAME AS MEMBER_NAME, M2.NAME AS CREATE_NAME, PAY_DATE, M1.EMP_NO AS EMP_NO, P.NAME AS POSITION_NAME,
				D.NAME AS DEPARTMENT_NAME, P.SUM AS POSITION_SUM, SV.GRADE AS GRADE, ST.SUM AS STEP_SUM, P.SUM+ST.SUM AS SUM,
				M1.PROMOTION_DATE AS PROMOTION_DATE
		  FROM SALARY SA
		  JOIN MEMBER M1 ON(M1.MEMBER_NO=SA.MEMBER_NO)
		  JOIN MEMBER M2 ON (M2.MEMBER_NO=SA.CREATE_BY)
		  JOIN POSITION P ON (M1.POSITION_NO=P.POSITION_NO)
		  JOIN DEPARTMENT D ON (M1.DEPARTMENT_NO=D.DEPARTMENT_NO)
		  JOIN SALARYVIEW SV ON (M1.MEMBER_NO=SV.MEMBER_NO)
		  JOIN STEP ST ON (SV.GRADE=ST.GRADE AND SV.POSITION_NO=ST.POSITION_NO)
		 WHERE SALARY_NO=#{salaryNo}
	</select>
	
	<select id="selectMySalary" resultType="SalaryDto">
SELECT SALARY_NO, M1.NAME AS MEMBER_NAME, PAY_DATE, P.NAME AS POSITION_NAME,
				D.NAME AS DEPARTMENT_NAME, P.SUM AS POSITION_SUM, SV.GRADE AS GRADE, ST.SUM AS STEP_SUM, P.SUM+ST.SUM AS SUM
		  FROM SALARY SA
		  JOIN MEMBER M1 ON(M1.MEMBER_NO=SA.MEMBER_NO)
		  JOIN POSITION P ON (M1.POSITION_NO=P.POSITION_NO)
		  JOIN DEPARTMENT D ON (M1.DEPARTMENT_NO=D.DEPARTMENT_NO)
		  JOIN SALARYVIEW SV ON (M1.MEMBER_NO=SV.MEMBER_NO)
		  JOIN STEP ST ON (SV.GRADE=ST.GRADE AND SV.POSITION_NO=ST.POSITION_NO)
		 WHERE M1.emp_no = #{empNo}
	</select>
	
</mapper>